# Large files (>15-20 MB)
*.pkl
*.model
*.npy


# Specific large files identified in the repository
final_unified_embeddings_50.pkl
final_unified_embeddings_aggregated.pkl
final_unified_embeddings_aggregated_50_correct.pkl
word2vec_*.model

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/
.venv/*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# Log files
*.log
bad_lines.log

# Temporary files
*.tmp
~$*

# Other large file types that might be generated
*.hdf5
*.h5
*.parquet
*.gz
*.zip
*.tar
*.rar 
compounds/compounds_bitter.csv
compounds/compounds_other.csv
compounds/compounds_sweet.csv
compounds/compounds_umami.csv
compounds_presence/food_compound_presence_0_1.csv
compounds_presence/foodid_compound_presence_0_1.csv
compounds_presence/foodname_compound_presence_0_1.csv
embeddings/df_food_dict_bitter_embeddings_correct.csv
embeddings/df_food_dict_other_embeddings_correct.csv
embeddings/df_food_dict_sweet_embeddings_correct.csv
embeddings/df_food_dict_umami_embeddings_correct.csv
embeddings/archive/df_food_dict_bitter_embeddings.csv
embeddings/archive/df_food_dict_other_embeddings.csv
embeddings/archive/df_food_dict_sweet_embeddings.csv
foodb/food_compound_foodb_grouped_bitter.csv
foodb/food_compound_foodb_grouped_other.csv
foodb/food_compound_foodb_grouped_sweet.csv
foodb/food_compound_foodb_grouped_umami.csv
foodb/food_compound_foodb_grouped.csv
foodb/food_compound_foodb.csv
foodb/foods_compounds_simplified.csv
foodb/foods_compounds.csv
ordered_compounds/food_compound_foodb_grouped_bitter_dict.csv
ordered_compounds/food_compound_foodb_grouped_other_dict.csv
ordered_compounds/food_compound_foodb_grouped_sweet_dict.csv
ordered_compounds/food_compound_foodb_grouped_umami_dict.csv
ordered_compounds/ordered_compounds_per_food_bitter.csv
ordered_compounds/ordered_compounds_per_food_other.csv
ordered_compounds/ordered_compounds_per_food_sweet.csv
ordered_compounds/ordered_compounds_per_food_umami.csv
.venv/lib/python3.11/site-packages/fontTools/misc/classifyTools.py
cl ustering_comparison_results/correspondence_tables/*
clustering_comparison_results/correspondence_tables/*
clustering_comparison_results/correspondence_tables_pca/*
clustering_comparison_results/correspondence_tables*

